<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nVDVoKf3Eeai1MQIRTN9hA" specification="interface:&#xA;&#x9;var roomNumber:integer&#xA;&#x9;in event switchRoom&#xA;&#xA;interface reception:&#xA;&#x9;in event doCheckIn&#xA;&#x9;in event doCheckOut&#xA;&#x9;&#xA;interface admin:&#xA;&#x9;in event doBlockRoom&#xA;&#x9;in event doUnblockRoom&#xA;&#x9;&#xA;interface room:&#xA;&#x9;in event checkIn : integer&#xA;&#x9;in event checkOut : integer&#xA;&#x9;&#xA;&#x9;in event block : integer&#xA;&#x9;in event unblock : integer&#xA;&#x9;" name="assignment3_easy">
    <regions xmi:id="_nVEjwqf3Eeai1MQIRTN9hA" name="Receptionist">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nVHnEaf3Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_nVJcQ6f3Eeai1MQIRTN9hA" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nVIOJ6f3Eeai1MQIRTN9hA" name="Idle" incomingTransitions="_nVJcQ6f3Eeai1MQIRTN9hA _9miasKf3Eeai1MQIRTN9hA _tv748Kf4Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_9miasKf3Eeai1MQIRTN9hA" specification="reception.doCheckIn/raise room.checkIn : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
        <outgoingTransitions xmi:id="_tv748Kf4Eeai1MQIRTN9hA" specification="reception.doCheckOut/raise room.checkOut : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
    </regions>
    <regions xmi:id="_pHQBIKf5EeaPELw6Hy3jPQ" name="Admin">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rb3IEKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_tYcwkKf5EeaPELw6Hy3jPQ" specification="" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9lVEKf5EeaPELw6Hy3jPQ" name="Idle" incomingTransitions="_tYcwkKf5EeaPELw6Hy3jPQ _unfWkKf5EeaPELw6Hy3jPQ _dhQ80KzYEeaOGcmc2fT_EA">
        <outgoingTransitions xmi:id="_unfWkKf5EeaPELw6Hy3jPQ" specification="admin.doUnblockRoom/raise room.unblock : roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
        <outgoingTransitions xmi:id="_dhQ80KzYEeaOGcmc2fT_EA" specification="admin.doBlockRoom/raise room.block : roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_1cT0IKp8Eea9rP9r4tEs6w" name="roomSwitch">
      <vertices xsi:type="sgraph:Entry" xmi:id="_29vKoKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4GcfIKp8Eea9rP9r4tEs6w" specification="" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3MsMoKp8Eea9rP9r4tEs6w" name="idle" incomingTransitions="_4GcfIKp8Eea9rP9r4tEs6w _4VUooKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4VUooKp8Eea9rP9r4tEs6w" specification="switchRoom/roomNumber = (roomNumber+1)%2" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
    </regions>
    <regions xmi:id="_qVbAIKv5EeaHY4V3XXzlxw" name="room1">
      <vertices xsi:type="sgraph:State" xmi:id="_qVbAIav5EeaHY4V3XXzlxw" specification="" name="Free" incomingTransitions="_qVc1Vav5EeaHY4V3XXzlxw _gV7mQKv7EeaTL456L3duDw _mQgR0Kv8EeaTL456L3duDw">
        <outgoingTransitions xmi:id="_qVbnMKv5EeaHY4V3XXzlxw" specification="room.block&#xA;[roomNumber == 1]" target="_qVcOQ6v5EeaHY4V3XXzlxw"/>
        <outgoingTransitions xmi:id="_qVbnNKv5EeaHY4V3XXzlxw" specification="room.checkIn&#xA;[roomNumber == 1]" target="_qVc1U6v5EeaHY4V3XXzlxw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qVcOQ6v5EeaHY4V3XXzlxw" specification="" name="Blocked" incomingTransitions="_qVbnMKv5EeaHY4V3XXzlxw">
        <outgoingTransitions xmi:id="_mQgR0Kv8EeaTL456L3duDw" specification="room.unblock&#xA;[roomNumber == 1]" target="_qVbAIav5EeaHY4V3XXzlxw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qVc1U6v5EeaHY4V3XXzlxw" specification="" name="Checked in" incomingTransitions="_qVbnNKv5EeaHY4V3XXzlxw">
        <outgoingTransitions xmi:id="_qVc1Vav5EeaHY4V3XXzlxw" specification="room.checkOut&#xA;[roomNumber == 1]" target="_qVbAIav5EeaHY4V3XXzlxw"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_eYLgIKv7EeaTL456L3duDw">
        <outgoingTransitions xmi:id="_gV7mQKv7EeaTL456L3duDw" specification="" target="_qVbAIav5EeaHY4V3XXzlxw"/>
      </vertices>
    </regions>
    <regions xmi:id="_ae8S0Kv9Eeav_cMDv7Z36Q" name="room0">
      <vertices xsi:type="sgraph:State" xmi:id="_ae8S0av9Eeav_cMDv7Z36Q" specification="" name="Free" incomingTransitions="_afBLUKv9Eeav_cMDv7Z36Q _afByaqv9Eeav_cMDv7Z36Q _ae_WIqv9Eeav_cMDv7Z36Q">
        <outgoingTransitions xmi:id="_ae9g8Kv9Eeav_cMDv7Z36Q" specification="room.block&#xA;[roomNumber == 0]" target="_ae_WIKv9Eeav_cMDv7Z36Q"/>
        <outgoingTransitions xmi:id="_ae-ICav9Eeav_cMDv7Z36Q" specification="room.checkIn&#xA;[roomNumber == 0]" target="_afAkRav9Eeav_cMDv7Z36Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ae_WIKv9Eeav_cMDv7Z36Q" specification="" name="Blocked" incomingTransitions="_ae9g8Kv9Eeav_cMDv7Z36Q">
        <outgoingTransitions xmi:id="_ae_WIqv9Eeav_cMDv7Z36Q" specification="room.unblock&#xA;[roomNumber == 0]" target="_ae8S0av9Eeav_cMDv7Z36Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_afAkRav9Eeav_cMDv7Z36Q" specification="" name="Checked in" incomingTransitions="_ae-ICav9Eeav_cMDv7Z36Q">
        <outgoingTransitions xmi:id="_afBLUKv9Eeav_cMDv7Z36Q" specification="room.checkOut&#xA;[roomNumber == 0]" target="_ae8S0av9Eeav_cMDv7Z36Q"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_afByaav9Eeav_cMDv7Z36Q">
        <outgoingTransitions xmi:id="_afByaqv9Eeav_cMDv7Z36Q" specification="" target="_ae8S0av9Eeav_cMDv7Z36Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nVEjwKf3Eeai1MQIRTN9hA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nVDVoKf3Eeai1MQIRTN9hA" measurementUnit="Pixel">
    <children xmi:id="_nVFx4Kf3Eeai1MQIRTN9hA" type="Region" element="_nVEjwqf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVHAAKf3Eeai1MQIRTN9hA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHAAaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVHAAqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVHAA6f3Eeai1MQIRTN9hA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nVHnEqf3Eeai1MQIRTN9hA" type="Entry" element="_nVHnEaf3Eeai1MQIRTN9hA">
          <children xmi:id="_nVIOIKf3Eeai1MQIRTN9hA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nVIOI6f3Eeai1MQIRTN9hA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOJKf3Eeai1MQIRTN9hA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nVIOJaf3Eeai1MQIRTN9hA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOIaf3Eeai1MQIRTN9hA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOIqf3Eeai1MQIRTN9hA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHnE6f3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nVHnFKf3Eeai1MQIRTN9hA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOJqf3Eeai1MQIRTN9hA" x="66" y="19"/>
        </children>
        <children xmi:id="_nVI1MKf3Eeai1MQIRTN9hA" type="State" element="_nVIOJ6f3Eeai1MQIRTN9hA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nVI1NKf3Eeai1MQIRTN9hA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Naf3Eeai1MQIRTN9hA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nVI1Nqf3Eeai1MQIRTN9hA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVI1N6f3Eeai1MQIRTN9hA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nVI1OKf3Eeai1MQIRTN9hA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVI1Oaf3Eeai1MQIRTN9hA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVJcQKf3Eeai1MQIRTN9hA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Maf3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nVI1Mqf3Eeai1MQIRTN9hA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nVJcQaf3Eeai1MQIRTN9hA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVJcQqf3Eeai1MQIRTN9hA" x="39" y="73" width="86" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHABKf3Eeai1MQIRTN9hA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nVFx4af3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHnEKf3Eeai1MQIRTN9hA" x="192" y="11" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nVKqZKf3Eeai1MQIRTN9hA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVLRcKf3Eeai1MQIRTN9hA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVLRcaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVLRcqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVLRc6f3Eeai1MQIRTN9hA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdKf3Eeai1MQIRTN9hA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdaf3Eeai1MQIRTN9hA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_pHSdYKf5EeaPELw6Hy3jPQ" type="Region" element="_pHQBIKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_pHVgsKf5EeaPELw6Hy3jPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pHVgsaf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pHVgsqf5EeaPELw6Hy3jPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pHVgs6f5EeaPELw6Hy3jPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rb6LYKf5EeaPELw6Hy3jPQ" type="Entry" element="_rb3IEKf5EeaPELw6Hy3jPQ">
          <children xmi:id="_rb6ycKf5EeaPELw6Hy3jPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rb6yc6f5EeaPELw6Hy3jPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ydKf5EeaPELw6Hy3jPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rb6ydaf5EeaPELw6Hy3jPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ycaf5EeaPELw6Hy3jPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6ycqf5EeaPELw6Hy3jPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6LYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rb6LYqf5EeaPELw6Hy3jPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6LY6f5EeaPELw6Hy3jPQ" x="53" y="24"/>
        </children>
        <children xmi:id="_r9mjMKf5EeaPELw6Hy3jPQ" type="State" element="_r9lVEKf5EeaPELw6Hy3jPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9nKQKf5EeaPELw6Hy3jPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9nKQaf5EeaPELw6Hy3jPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9nKQqf5EeaPELw6Hy3jPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKQ6f5EeaPELw6Hy3jPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r9nKRKf5EeaPELw6Hy3jPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9nKRaf5EeaPELw6Hy3jPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKRqf5EeaPELw6Hy3jPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9mjMaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9mjMqf5EeaPELw6Hy3jPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9nKR6f5EeaPELw6Hy3jPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9mjM6f5EeaPELw6Hy3jPQ" x="196" y="24" width="87" height="74"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHVgtKf5EeaPELw6Hy3jPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pHSdYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHSdYqf5EeaPELw6Hy3jPQ" x="224" y="324" width="795" height="227"/>
    </children>
    <children xmi:id="_1cWQYKp8Eea9rP9r4tEs6w" type="Region" element="_1cT0IKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_1cWQY6p8Eea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQZKp8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1cWQZap8Eea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1cWQZqp8Eea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_29w_0Kp8Eea9rP9r4tEs6w" type="Entry" element="_29vKoKp8Eea9rP9r4tEs6w">
          <children xmi:id="_29xm4Kp8Eea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_29xm46p8Eea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm5Kp8Eea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_29xm5ap8Eea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm4ap8Eea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29xm4qp8Eea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_29w_0ap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_29w_0qp8Eea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29w_06p8Eea9rP9r4tEs6w" x="106" y="16"/>
        </children>
        <children xmi:id="_3MszsKp8Eea9rP9r4tEs6w" type="State" element="_3MsMoKp8Eea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_3MsztKp8Eea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3Msztap8Eea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3Msztqp8Eea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Mszt6p8Eea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3MszuKp8Eea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszuap8Eea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3MtawKp8Eea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3Mszsap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3Mszsqp8Eea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3Mtawap8Eea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszs6p8Eea9rP9r4tEs6w" x="96" y="119"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQZ6p8Eea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQYap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQYqp8Eea9rP9r4tEs6w" x="630" y="10" width="262" height="298"/>
    </children>
    <children xmi:id="_qVZyAKv5EeaHY4V3XXzlxw" type="Region" element="_qVbAIKv5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qVZyAav5EeaHY4V3XXzlxw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyAqv5EeaHY4V3XXzlxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qVZyA6v5EeaHY4V3XXzlxw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_qVZyBKv5EeaHY4V3XXzlxw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_qVZyBav5EeaHY4V3XXzlxw" type="State" element="_qVbAIav5EeaHY4V3XXzlxw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qVZyBqv5EeaHY4V3XXzlxw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyB6v5EeaHY4V3XXzlxw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qVZyCKv5EeaHY4V3XXzlxw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyCav5EeaHY4V3XXzlxw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qVZyCqv5EeaHY4V3XXzlxw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyC6v5EeaHY4V3XXzlxw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyDKv5EeaHY4V3XXzlxw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyDav5EeaHY4V3XXzlxw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qVZyDqv5EeaHY4V3XXzlxw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qVZyD6v5EeaHY4V3XXzlxw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyEKv5EeaHY4V3XXzlxw" x="61" y="31"/>
        </children>
        <children xmi:id="_qVZyEav5EeaHY4V3XXzlxw" type="State" element="_qVcOQ6v5EeaHY4V3XXzlxw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qVZyEqv5EeaHY4V3XXzlxw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyE6v5EeaHY4V3XXzlxw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qVZyFKv5EeaHY4V3XXzlxw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyFav5EeaHY4V3XXzlxw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qVZyFqv5EeaHY4V3XXzlxw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyF6v5EeaHY4V3XXzlxw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyGKv5EeaHY4V3XXzlxw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyGav5EeaHY4V3XXzlxw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qVZyGqv5EeaHY4V3XXzlxw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qVZyG6v5EeaHY4V3XXzlxw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyHKv5EeaHY4V3XXzlxw" x="1" y="151"/>
        </children>
        <children xmi:id="_qVZyHav5EeaHY4V3XXzlxw" type="State" element="_qVc1U6v5EeaHY4V3XXzlxw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qVZyHqv5EeaHY4V3XXzlxw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyH6v5EeaHY4V3XXzlxw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qVZyIKv5EeaHY4V3XXzlxw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyIav5EeaHY4V3XXzlxw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qVZyIqv5EeaHY4V3XXzlxw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyI6v5EeaHY4V3XXzlxw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qVZyJKv5EeaHY4V3XXzlxw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyJav5EeaHY4V3XXzlxw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qVZyJqv5EeaHY4V3XXzlxw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qVZyJ6v5EeaHY4V3XXzlxw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyKKv5EeaHY4V3XXzlxw" x="121" y="150"/>
        </children>
        <children xmi:id="_eYPxkKv7EeaTL456L3duDw" type="Entry" element="_eYLgIKv7EeaTL456L3duDw">
          <children xmi:id="_eYQ_sKv7EeaTL456L3duDw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_eYSN0Kv7EeaTL456L3duDw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_eYSN0av7EeaTL456L3duDw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_eYSN0qv7EeaTL456L3duDw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eYQ_sav7EeaTL456L3duDw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eYQ_sqv7EeaTL456L3duDw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eYPxkav7EeaTL456L3duDw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_eYPxkqv7EeaTL456L3duDw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eYPxk6v7EeaTL456L3duDw" x="74" y="-3"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyKav5EeaHY4V3XXzlxw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_qVZyKqv5EeaHY4V3XXzlxw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qVZyK6v5EeaHY4V3XXzlxw" x="948" y="10" width="240" height="298"/>
    </children>
    <children xmi:id="_ae7EsKv9Eeav_cMDv7Z36Q" type="Region" element="_ae8S0Kv9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ae7Esav9Eeav_cMDv7Z36Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Esqv9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ae7Es6v9Eeav_cMDv7Z36Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ae7EtKv9Eeav_cMDv7Z36Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_ae7Etav9Eeav_cMDv7Z36Q" type="State" element="_ae8S0av9Eeav_cMDv7Z36Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_ae7Etqv9Eeav_cMDv7Z36Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Et6v9Eeav_cMDv7Z36Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ae7EuKv9Eeav_cMDv7Z36Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7Euav9Eeav_cMDv7Z36Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ae7Euqv9Eeav_cMDv7Z36Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7Eu6v9Eeav_cMDv7Z36Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7EvKv9Eeav_cMDv7Z36Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Evav9Eeav_cMDv7Z36Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ae7Evqv9Eeav_cMDv7Z36Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ae7Ev6v9Eeav_cMDv7Z36Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7EwKv9Eeav_cMDv7Z36Q" x="61" y="31"/>
        </children>
        <children xmi:id="_ae7Ewav9Eeav_cMDv7Z36Q" type="State" element="_ae_WIKv9Eeav_cMDv7Z36Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_ae7Ewqv9Eeav_cMDv7Z36Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Ew6v9Eeav_cMDv7Z36Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ae7ExKv9Eeav_cMDv7Z36Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7Exav9Eeav_cMDv7Z36Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ae7Exqv9Eeav_cMDv7Z36Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7Ex6v9Eeav_cMDv7Z36Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7EyKv9Eeav_cMDv7Z36Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Eyav9Eeav_cMDv7Z36Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ae7Eyqv9Eeav_cMDv7Z36Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ae7Ey6v9Eeav_cMDv7Z36Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7EzKv9Eeav_cMDv7Z36Q" x="1" y="151"/>
        </children>
        <children xmi:id="_ae7Ezav9Eeav_cMDv7Z36Q" type="State" element="_afAkRav9Eeav_cMDv7Z36Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_ae7Ezqv9Eeav_cMDv7Z36Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7Ez6v9Eeav_cMDv7Z36Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ae7E0Kv9Eeav_cMDv7Z36Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7E0av9Eeav_cMDv7Z36Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ae7E0qv9Eeav_cMDv7Z36Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E06v9Eeav_cMDv7Z36Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ae7E1Kv9Eeav_cMDv7Z36Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7E1av9Eeav_cMDv7Z36Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ae7E1qv9Eeav_cMDv7Z36Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ae7E16v9Eeav_cMDv7Z36Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E2Kv9Eeav_cMDv7Z36Q" x="121" y="150"/>
        </children>
        <children xmi:id="_ae7E2av9Eeav_cMDv7Z36Q" type="Entry" element="_afByaav9Eeav_cMDv7Z36Q">
          <children xmi:id="_ae7E2qv9Eeav_cMDv7Z36Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_ae7E26v9Eeav_cMDv7Z36Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7E3Kv9Eeav_cMDv7Z36Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_ae7E3av9Eeav_cMDv7Z36Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7E3qv9Eeav_cMDv7Z36Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E36v9Eeav_cMDv7Z36Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7E4Kv9Eeav_cMDv7Z36Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_ae7E4av9Eeav_cMDv7Z36Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E4qv9Eeav_cMDv7Z36Q" x="74" y="-3"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E46v9Eeav_cMDv7Z36Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_ae7E5Kv9Eeav_cMDv7Z36Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ae7E5av9Eeav_cMDv7Z36Q" x="1068" y="324" width="240" height="298"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nVEjwaf3Eeai1MQIRTN9hA"/>
    <edges xmi:id="_nVKDUKf3Eeai1MQIRTN9hA" type="Transition" element="_nVJcQ6f3Eeai1MQIRTN9hA" source="_nVHnEqf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVKqYaf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVKqYqf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVKqY6f3Eeai1MQIRTN9hA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nVKDUaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nVKqYKf3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nVKDUqf3Eeai1MQIRTN9hA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9mleAKf3Eeai1MQIRTN9hA" type="Transition" element="_9miasKf3Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9mleBKf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9mleBaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9mleBqf3Eeai1MQIRTN9hA" x="-86" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9mleAaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9mleA6f3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9mleAqf3Eeai1MQIRTN9hA" points="[15, -4, 15, -4]$[82, -23, 82, -23]$[82, 76, 82, 76]$[15, 13, 15, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6QKf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6Qaf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
    </edges>
    <edges xmi:id="_tv-VMKf4Eeai1MQIRTN9hA" type="Transition" element="_tv748Kf4Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tv-VNKf4Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tv-VNaf4Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tv-VNqf4Eeai1MQIRTN9hA" x="5" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tv-VMaf4Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tv-VM6f4Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tv-VMqf4Eeai1MQIRTN9hA" points="[25, 32, 25, 32]$[68, 85, 68, 85]$[50, 130, 50, 130]$[25, 99, 25, 99]$[8, 32, 8, 32]"/>
    </edges>
    <edges xmi:id="_tYd-sKf5EeaPELw6Hy3jPQ" type="Transition" element="_tYcwkKf5EeaPELw6Hy3jPQ" source="_rb6LYKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tYelwaf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tYelwqf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tYelw6f5EeaPELw6Hy3jPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tYd-saf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tYelwKf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tYd-sqf5EeaPELw6Hy3jPQ" points="[7, 0, -172, -3]$[182, -7, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tYga8Kf5EeaPELw6Hy3jPQ" id="(0.5287356321839081,0.14864864864864866)"/>
    </edges>
    <edges xmi:id="_unhy0Kf5EeaPELw6Hy3jPQ" type="Transition" element="_unfWkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_uniZ4af5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uniZ4qf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uniZ46f5EeaPELw6Hy3jPQ" x="-105" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_unhy0af5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uniZ4Kf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_unhy0qf5EeaPELw6Hy3jPQ" points="[23, 14, 23, 14]$[131, 81, 131, 81]$[48, 81, 48, 81]$[8, 14, 8, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEKf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEaf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
    </edges>
    <edges xmi:id="_4GdGMKp8Eea9rP9r4tEs6w" type="Transition" element="_4GcfIKp8Eea9rP9r4tEs6w" source="_29w_0Kp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4GdtQKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4GdtQap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4GdtQqp8Eea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4GdGMap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4GdGM6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4GdGMqp8Eea9rP9r4tEs6w" points="[0, 7, 0, -113]$[7, 144, 7, 24]"/>
    </edges>
    <edges xmi:id="_4VVPsKp8Eea9rP9r4tEs6w" type="Transition" element="_4VUooKp8Eea9rP9r4tEs6w" source="_3MszsKp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4VVPtKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4VVPtap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4VVPtqp8Eea9rP9r4tEs6w" x="19" y="76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4VVPsap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4VVPs6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4VVPsqp8Eea9rP9r4tEs6w" points="[18, 0, 18, 0]$[85, 0, 85, 0]$[85, 91, 85, 91]$[0, 91, 0, 91]$[0, 24, 0, 24]"/>
    </edges>
    <edges xmi:id="_qVfRkKv5EeaHY4V3XXzlxw" type="Transition" element="_qVbnMKv5EeaHY4V3XXzlxw" source="_qVZyBav5EeaHY4V3XXzlxw" target="_qVZyEav5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qVfRkav5EeaHY4V3XXzlxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qVfRkqv5EeaHY4V3XXzlxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qVfRk6v5EeaHY4V3XXzlxw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qVfRlKv5EeaHY4V3XXzlxw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qVfRlav5EeaHY4V3XXzlxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qVfRlqv5EeaHY4V3XXzlxw" points="[-2, 0, 41, -114]$[-50, 0, -7, -114]$[-50, 114, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qVfRl6v5EeaHY4V3XXzlxw" id="(0.02158273381294964,0.11290322580645161)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fYBXEKv8EeaTL456L3duDw" id="(0.14388489208633093,0.0)"/>
    </edges>
    <edges xmi:id="_qVf4qav5EeaHY4V3XXzlxw" type="Transition" element="_qVc1Vav5EeaHY4V3XXzlxw" source="_qVZyHav5EeaHY4V3XXzlxw" target="_qVZyBav5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qVf4qqv5EeaHY4V3XXzlxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qVf4q6v5EeaHY4V3XXzlxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qVf4rKv5EeaHY4V3XXzlxw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qVf4rav5EeaHY4V3XXzlxw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qVf4rqv5EeaHY4V3XXzlxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qVf4r6v5EeaHY4V3XXzlxw" points="[-5, -8, 49, 72]$[-52, -98, 2, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qVf4sKv5EeaHY4V3XXzlxw" id="(0.23595505617977527,0.22641509433962265)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bFACsKv8EeaTL456L3duDw" id="(0.9856115107913669,0.5967741935483871)"/>
    </edges>
    <edges xmi:id="_qVf4sav5EeaHY4V3XXzlxw" type="Transition" element="_qVbnNKv5EeaHY4V3XXzlxw" source="_qVZyBav5EeaHY4V3XXzlxw" target="_qVZyHav5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qVf4sqv5EeaHY4V3XXzlxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qVf4s6v5EeaHY4V3XXzlxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qVf4tKv5EeaHY4V3XXzlxw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qVf4tav5EeaHY4V3XXzlxw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qVf4tqv5EeaHY4V3XXzlxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qVf4t6v5EeaHY4V3XXzlxw" points="[9, 0, -74, -104]$[83, 0, 0, -104]$[83, 103, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QU8ZcKv8EeaTL456L3duDw" id="(0.935251798561151,0.3064516129032258)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iTFaAKv8EeaTL456L3duDw" id="(0.841726618705036,0.03225806451612903)"/>
    </edges>
    <edges xmi:id="_gV_3sKv7EeaTL456L3duDw" type="Transition" element="_gV7mQKv7EeaTL456L3duDw" source="_eYPxkKv7EeaTL456L3duDw" target="_qVZyBav5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gWAewav7EeaTL456L3duDw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gWAewqv7EeaTL456L3duDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gWAew6v7EeaTL456L3duDw" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gV_3sav7EeaTL456L3duDw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gWAewKv7EeaTL456L3duDw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gV_3sqv7EeaTL456L3duDw" points="[0, 7, 1, -44]$[-1, 27, 0, -24]"/>
    </edges>
    <edges xmi:id="_mQjVIKv8EeaTL456L3duDw" type="Transition" element="_mQgR0Kv8EeaTL456L3duDw" source="_qVZyEav5EeaHY4V3XXzlxw" target="_qVZyBav5EeaHY4V3XXzlxw">
      <children xsi:type="notation:DecorationNode" xmi:id="_mQj8MKv8EeaTL456L3duDw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mQj8Mav8EeaTL456L3duDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mQj8Mqv8EeaTL456L3duDw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mQjVIav8EeaTL456L3duDw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mQjVI6v8EeaTL456L3duDw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mQjVIqv8EeaTL456L3duDw" points="[4, -9, 2, 72]$[4, -72, 2, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mQnmkKv8EeaTL456L3duDw" id="(0.7553956834532374,0.16129032258064516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mQnmkav8EeaTL456L3duDw" id="(0.3237410071942446,0.8548387096774194)"/>
    </edges>
    <edges xmi:id="_afGD0Kv9Eeav_cMDv7Z36Q" type="Transition" element="_ae9g8Kv9Eeav_cMDv7Z36Q" source="_ae7Etav9Eeav_cMDv7Z36Q" target="_ae7Ewav9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_afGD0av9Eeav_cMDv7Z36Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_afGD0qv9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_afGD06v9Eeav_cMDv7Z36Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_afGD1Kv9Eeav_cMDv7Z36Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_afGD1av9Eeav_cMDv7Z36Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_afGD1qv9Eeav_cMDv7Z36Q" points="[-2, 0, 41, -114]$[-50, 0, -7, -114]$[-50, 114, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGD16v9Eeav_cMDv7Z36Q" id="(0.02158273381294964,0.11290322580645161)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGD2Kv9Eeav_cMDv7Z36Q" id="(0.14388489208633093,0.0)"/>
    </edges>
    <edges xmi:id="_afGq4Kv9Eeav_cMDv7Z36Q" type="Transition" element="_afBLUKv9Eeav_cMDv7Z36Q" source="_ae7Ezav9Eeav_cMDv7Z36Q" target="_ae7Etav9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_afGq4av9Eeav_cMDv7Z36Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_afGq4qv9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_afGq46v9Eeav_cMDv7Z36Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_afGq5Kv9Eeav_cMDv7Z36Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_afGq5av9Eeav_cMDv7Z36Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_afGq5qv9Eeav_cMDv7Z36Q" points="[-5, -8, 49, 72]$[-52, -98, 2, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGq56v9Eeav_cMDv7Z36Q" id="(0.23595505617977527,0.22641509433962265)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGq6Kv9Eeav_cMDv7Z36Q" id="(0.9856115107913669,0.5967741935483871)"/>
    </edges>
    <edges xmi:id="_afGq6av9Eeav_cMDv7Z36Q" type="Transition" element="_ae-ICav9Eeav_cMDv7Z36Q" source="_ae7Etav9Eeav_cMDv7Z36Q" target="_ae7Ezav9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_afGq6qv9Eeav_cMDv7Z36Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_afGq66v9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_afGq7Kv9Eeav_cMDv7Z36Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_afGq7av9Eeav_cMDv7Z36Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_afGq7qv9Eeav_cMDv7Z36Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_afGq76v9Eeav_cMDv7Z36Q" points="[9, 0, -74, -104]$[83, 0, 0, -104]$[83, 103, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGq8Kv9Eeav_cMDv7Z36Q" id="(0.935251798561151,0.3064516129032258)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afGq8av9Eeav_cMDv7Z36Q" id="(0.841726618705036,0.03225806451612903)"/>
    </edges>
    <edges xmi:id="_afGq8qv9Eeav_cMDv7Z36Q" type="Transition" element="_afByaqv9Eeav_cMDv7Z36Q" source="_ae7E2av9Eeav_cMDv7Z36Q" target="_ae7Etav9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_afGq86v9Eeav_cMDv7Z36Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_afGq9Kv9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_afGq9av9Eeav_cMDv7Z36Q" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_afGq9qv9Eeav_cMDv7Z36Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_afGq96v9Eeav_cMDv7Z36Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_afGq-Kv9Eeav_cMDv7Z36Q" points="[0, 7, 1, -44]$[-1, 27, 0, -24]"/>
    </edges>
    <edges xmi:id="_afHR8Kv9Eeav_cMDv7Z36Q" type="Transition" element="_ae_WIqv9Eeav_cMDv7Z36Q" source="_ae7Ewav9Eeav_cMDv7Z36Q" target="_ae7Etav9Eeav_cMDv7Z36Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_afHR8av9Eeav_cMDv7Z36Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_afHR8qv9Eeav_cMDv7Z36Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_afHR86v9Eeav_cMDv7Z36Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_afHR9Kv9Eeav_cMDv7Z36Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_afHR9av9Eeav_cMDv7Z36Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_afHR9qv9Eeav_cMDv7Z36Q" points="[4, -9, 2, 72]$[4, -72, 2, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afHR96v9Eeav_cMDv7Z36Q" id="(0.7553956834532374,0.16129032258064516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_afHR-Kv9Eeav_cMDv7Z36Q" id="(0.3237410071942446,0.8548387096774194)"/>
    </edges>
    <edges xmi:id="_dhat0KzYEeaOGcmc2fT_EA" type="Transition" element="_dhQ80KzYEeaOGcmc2fT_EA" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_dheYMKzYEeaOGcmc2fT_EA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dheYMazYEeaOGcmc2fT_EA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dheYMqzYEeaOGcmc2fT_EA" x="28" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dhat0azYEeaOGcmc2fT_EA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dhb78KzYEeaOGcmc2fT_EA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dhat0qzYEeaOGcmc2fT_EA" points="[0, 0, 6, 13]$[67, 20, 73, 33]$[123, -10, 129, 3]$[99, -46, 105, -33]$[0, -15, 6, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dhipoKzYEeaOGcmc2fT_EA" id="(1.0,0.5135135135135135)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dhipoazYEeaOGcmc2fT_EA" id="(0.9310344827586207,0.32432432432432434)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
