<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Classes -->
      <package
            uri="http:///se/chalmers/cse/mdsd1617/group18/bookingSystem.ecore"
            class="se.chalmers.cse.mdsd1617.group18.bookingSystem.BookingSystemPackage"
            genModel="Classes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Classes -->
      <package
            uri="http:///se/chalmers/cse/mdsd1617/group18/roomManager.ecore"
            class="se.chalmers.cse.mdsd1617.group18.roomManager.RoomManagerPackage"
            genModel="Classes.genmodel"/>
   </extension>
</plugin>
